@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --fontfamilyfirst: "Barlow", sans-serif;
  --fontfamilysecond: "Fraunces", serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: var(--fontfamilyfirst);
  margin-top: 0;
  padding-top: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.header__menu {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(200, 100%, 61%);
  padding: 5px 20px;
}

.header {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  color: hsl(0, 0%, 100%);
}

.link__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.link__icon-hamburger {
  display: none;
}

.link__menu > li {
  display: block;
  text-shadow: 1px 1px 1px #000000;
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 1.5s, border-radius 1.5s, color 1.5s;
}

.link__menu > li:hover,
.link__menu > li:focus {
  display: block;
  font-family: var(--fontfamilysecond);
  font-variant: small-caps;
  background-color: hsl(200, 100%, 61%);
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #000000;
  box-shadow: 1px 1px 5px 1px #000000;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

.link__option {
  color: hsl(0, 0%, 100%);
}
/*
Para modificar los atributos de los elementos se encierran entre corchetes
El ap칩strofe ^ nos permite modificar los estilos por el comienzo
*/
[class^="main__title"] {
  font-family: var(--fontfamilysecond);
  font-weight: bolder;
}

.header__main-arrow {
  display: block;
  position: relative;
  top: -40px;
  z-index: 0;
  text-align: center;
}

.main__title-first {
  font-size: 4em;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 0;
  padding: 1em 0;
}

.main__title-second {
  font-size: 2em;
  color: black;
}

.main__title-third {
  font-size: 1.5em;
}

.main__title-fourth {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-top: 15px;
  font-size: 1em;
  font-variant: small-caps;
  color: black;

  /*Generamos una animaci칩n de subrayado. sacado de la web 
  https://www.oloblogger.com/2017/01/efectos-hover-lineas-animadas-enlaces.html*/
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.main__title-fourth::after {
  content: "think better";
  position: absolute;
  top: -15%;
  left: 0px;
  width: 100%;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}

.main__title-fourth:hover,
.main__title-fourth:focus {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
/*-------------*/

.design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.design__type {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  color: hsl(213, 9%, 39%);
  padding: 0 5%;
  margin-left: auto;
  margin-right: auto;
}

.design__type > div {
  min-width: calc(100%-170px);
  max-width: calc(100%-200px);
}

.design__img {
  flex: 0 1 50%;
  min-width: calc(100%-200px);
  align-self: stretch;
}

[class^="design__"] > img {
  display: block;
  max-width: 100%;
}

#design__box5 {
  color: hsl(167, 40%, 24%);
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

#design__box6 {
  color: hsl(198, 62%, 26%);
  background-image: url("../images/desktop/image-photography.jpg");
}

.design__type:nth-child(5),
.design__type:nth-child(6) {
  background-position: center;
  align-self: stretch;
  background-size: cover;
  text-align: center;
  padding: 25% 5% 5% 5%;
}

[class^="clients"] {
  color: hsl(213, 9%, 39%);
  text-align: center;
}

.clients > h2 {
  font-family: var(--fontfamilysecond);
  color: hsl(210, 4%, 67%);
  font-variant: small-caps;
  font-weight: bolder;
  padding-top: 3em;
}

.clients__types {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clients__type {
  padding: 2em;
}

.clients__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  margin-bottom: 40px;
}

.clients__title-third {
  font-family: var(--fontfamilysecond);
  color: black;
}

.clients__title-fourth {
  font-size: smaller;
  color: hsl(210, 4%, 67%);
}

.footer-images {
  display: flex;
}

.footer-images__img {
  /* Imprescindible a침adir estas 3 lineas para que las im치genes se alineen en sus contenedores*/
  width: 100%;
  height: 100%;
  min-width: 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: hsl(168, 34%, 60%);
  color: hsl(167, 40%, 24%);
  font-weight: bolder;
  text-align: center;
  padding: 20px 0;
  height: 300px;
}

/* https://qastack.mx/programming/22252472/how-to-change-the-color-of-an-svg-element */
.logo {
  filter: invert(74%) sepia(35%) saturate(647%) hue-rotate(118deg) brightness(92%) contrast(88%);
  align-self: center;
  margin: 20px 0;
}

[class^="main-footer__"] {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

[class^="main-footer__"] > a {
  color: hsl(167, 40%, 24%);
}

[class^="main-footer__"] > a:hover {
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(222deg) brightness(103%) contrast(106%);
}

@media (max-width: 775px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 567px) {
  body {
    font-size: 16px;
  }
  .link__icon-hamburger {
    display: inline-block;
    position: relative;
    right: 1em;
    cursor: pointer;
  }

  .link__menu::before {
    content: "";
    position: absolute;
    top: calc(-40px);
    left: calc(100% - 40px);
    border-right: 40px solid white;
    border-top: 40px solid transparent;
  }

  .link__menu {
    position: absolute;
    opacity: 0;
    display: block;
    border-radius: 10px 0 10px 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    top: 3.5em;
    right: 3em;
    background-color: white;
    width: 40%;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
  }

  .link__menu-show {
    opacity: 1;
  }

  .link__option {
    display: block;
    padding: 5px;
    margin: 5px 0;
  }
  .link__menu > li:hover {
    color: white;
  }
  .design {
    flex-direction: column;
  }

  .design__type {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    min-height: 400px;
    padding: 0 10% 15% 10%;
  }

  [class^="design__"]:nth-child(2) {
    order: 1;
  }

  [class^="design__"]:nth-child(1) {
    order: 2;
  }

  [class^="design__"]:nth-child(3) {
    order: 3;
  }

  [class^="design__"]:nth-child(4) {
    order: 4;
  }

  [class^="design__"]:nth-child(5) {
    order: 5;
  }

  [class^="design__"]:nth-child(6) {
    order: 6;
  }

  .clients__types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-images {
    flex-wrap: wrap;
  }

  [class^="footer-images__"] {
    /*Nos aseguramos de que las imagenes ocupen el 50% del contenedor al escalarse*/
    flex: 50%;
  }
}
